parameters:
    database_host:     192.168.67.10
    database_port:     ~
    database_name:     conext
    database_user:     conext
    database_password: conext

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    secret:            ThisTokenIsNotSoSecretChangeIt

    jira_api_base_url: "https://jira.surfnet.invalid"
    jira_api_verify_ssl: true
    jira_api_consumer_key: app_link_consumer_key
    jira_api_private_key_file: /path/to/private.key
    jira_api_project_key: "CXT"
    jira_api_issue_type: '10000'

    janus_api_base_url: "https://service-registry.invalid/janus/api/"
    janus_api_username: janusUser
    janus_api_password: secretPassword

    jira_open_status_id: "0"
    jira_muted_status_id: "1"
    jira_closed_status_id: "2"
    jira_trivial_priority_id: "0"
    jira_low_priority_id: "0"
    jira_medium_priority_id: "0"
    jira_high_priority_id: "0"
    jira_critical_priority_id: "0"
